body{
	background-color: lightgrey;
	margin: 0;

}


.container{
	width: 100%;
	overflow: hidden;
	margin: auto;

}

ul{
	padding: 0;
	margin: 0;

}

.class_1{
	height: 38px;
	background: #e8491d;
	border:0;
	padding: 0 20px 0 20px;
	margin-left: 5px;
	border-radius: 15px;

}

/*header */
header{
	background-color: #35424a;
	border-bottom: orange 3px solid;
	min-height: 90px;
	color: white;
}

header .highlight{
	color: #e8491d;
	font-weight: bold;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;

}



header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;


}

header .brand_name{
	float: left;
	margin-left: 20px;

}

header nav{
	float: right;
	margin-top: 25px;
}

header li a:hover{
	color: lightgreen;
}

/*showcase */

#showcase{
	min-height: 50vh;
	background: url('../images/header_background.jpg') no-repeat 0 -500px;
	background-size: cover;
	text-align: center;
	color: midnightblue;
	width: 100%;
	

}
 

#showcase .container{
	min-height: 40vh;
}
#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

#newsletter{
	background: #35424a;
	color: white;
	padding: 10px;
}
#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 20px;
}

#newsletter input[type="email"]{
	width: 250px;
	height: 31px;
	border-radius: 15px;
}


#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	max-width: 50%;
	border-radius: 10%;
}


/*about.html*/

aside#sidebar{
	float: right;
	width: 30%;
}

#main_article{
	float: left;
	width: 60%;
	margin-left: 10px;
	
}

.dark{
	padding: 15px;
	color: white;
	background-color: #35424a;
	margin-top: 15px;
	margin-right: 15px;

}


footer{
	padding: 20px;
	text-align: center;
	background-color: #e8491d;
	margin-top: 30px;
}


/*Media queries */

@media screen and (max-width: 1400px) {
	header, 
	#newsletter h1, #newsletter form, 
	header li{
		display: block;
		float: none;
	}

	#showcase{
		background: url('../images/background_vintage.jpg');
		color: #35424a;
	}
}
